{% extends "layout.html.twig" %}

{% block body_content %}
    <div class="col-md-6 col-md-offset-3">
        <h1 id="page-title" class="border">Modifier mon profil</h1>
        {#{% include "FOSUserBundle:Profile:edit_content.html.twig" %}#}
        <div class="alert alert-warning" role="alert">Bientôt...</div>
    </div>

{% endblock body_content %}
