{% form_theme form 'bootstrap_3_layout_with_help.html.twig' %}

<div class="modal-content">
    {{ form_start(form) }}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Supprimer : {{ task.name }}</h4>
    </div>
    <div class="modal-body">
        Êtes-vous sur ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        {{ form_widget(form.submit, { 'attr': {'class': 'btn-primary'} }) }}
    </div>
    {{ form_end(form) }}
</div>