{% extends 'layout.html.twig' %}

{% block body_content %}
    <h1 id="page-title">Tags</h1>

    {% include 'tag/_submenu.html.twig' with {submenu_active: 'list'} only %}

    <div class="row">
        <div class="col-md-12">
            {{ datatable_render(datatable) }}
        </div>
    </div>
{% endblock body_content %}